<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/styles/main.css' />
  </head>
  <body>
    
    <main>
      <div id='header' id='#'>
        <h1><%= title %> <%= error.status %></h1>
        <div class='h-divisor'></div>
        <h4><%= message %></h4>
      </div>

      <div id='nav'>
        <a href='/#'>Início</a>
        <a href='#experience'>Experiência</a>
        <a href='#education'>Educação</a>
        <a href='#skills'>Habilidades</a>
        <a href='#interests'>Interesses</a>
      </div>

      <div id='footer'>
      </div>
    </main>
  </body>
</html>